{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Choose the Room</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/access">
            <div class="field">
                <select name=rooms class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    {% for r in rooms %}
                    <option value= "{{r.id}}" SELECTED>{{r.room}}</option>"
                    {% endfor %}
                </select>
            </div>
            <!-- <button type="submit" class="btn btn-default">Access</button> -->
            <button class="button is-block is-info is-large is-fullwidth">Access</button>
        </form>
    </div>
</div>
{% endblock %}