{% extends 'base.html' %}

{% block content %}
    <div class="flight-container" style="overflow: auto; max-height: 80vh">
        <div class="table-responsive">
            <table class="table" id="logaccess">
                <thead>
                    <tr>
                        <th scope="col">Room</th>
                        <th scope="col">User</th>
                        <th scope="col">Date Access</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tt in logaccess %}
                        <tr id={{ tt[0].id }}>
                            <th scope="row">{{ tt[1].room }}</th>
                            <td> {{ tt[2].name }} </td>
                            <td> {{ tt[0].date_access }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}