{% extends 'base.html' %}

{% block content %}
    <div class="flight-container" style="overflow: auto; max-height: 80vh">
        <div class="table-responsive">
            <table class="table" id="users">
                <thead>
                    <tr>
                        <th scope="col">E-mail</th>
                        <th scope="col">Name</th>
                        <th scope="col">Admin</th>
                        <th scope="col">Access Permission</th>
                    </tr>
                </thead>
                <tbody>
                {% for u in users %}
                    <tr id={{ u.id }}>
                        <th scope="row">{{ u.email }}</th>
                        <td> {{ u.name }} </td>
                        <td> {{ u.admin }} </td>
                        <td> {{ u.access_permission }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}